/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  background-image: url("../Img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.pics {
  display: flex;
  -webkit-transform: scale(0.65);
  /* Saf3.1+, Chrome */
  -moz-transform: scale(0.65);
  /* FF3.5+ */
  -ms-transform: scale(0.65);
  /* IE9 */
  -o-transform: scale(0.65);
  /* Opera 10.5+ */
  transform: scale(0.65);
  /* IE6–IE9 */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.99996192, M12=-0.00872654, M21=0.00872654, M22=0.99996192, SizingMethod='auto expand');
}
@media (max-width: 500px) {
  .pics #pic1 {
    display: none;
  }
  .pics #pic3 {
    display: none;
  }
}
#titlepic {
  height: 80%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: 'Rubik', sans-serif;
}
p {
  line-height: 1.4;
}
.all-sections {
  margin: 40px 10px 40px 10px;
  display: flex;
  flex-wrap: wrap;
}
.strategy {
  order: 1;
  flex-grow: 1;
  flex-direction: column;
  width: 48%;
  align-items: stretch;
}
.how-work {
  order: 1;
  flex-grow: 1;
  flex-direction: column;
  width: 48%;
  align-items: stretch;
}
button {
  font-size: 18px;
  border-radius: 12px;
  border: 2px solid black;
}
.dash {
  border: 0 none;
  border-top: 2px dashed #322f32;
  background: none;
  height: 0;
}
h1 {
  font-family: 'Abel', sans-serif;
  font-size: 50px;
  width: 40%;
}
p {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  width: 40%;
}
.header {
  width: 100%;
  height: 100px;
  background-color: #463232;
  color: #f6e8ea;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}
.header h1 {
  margin: 0;
  left: 0;
  font-size: 4.8rem;
  color: #FF4844;
}
.menu-button {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.menu {
  display: none;
  position: fixed;
  top: 4.4rem;
  margin-top: 3rem;
  right: 0;
  width: 20rem;
  height: 100vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: #463232;
  border-left: none;
  border-bottom: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
.menu ul li {
  list-style-type: none;
  font-size: 3.2rem;
  padding: 30px 0;
  text-align: center;
  color: #FF4844;
}
.menu ul li :hover {
  color: #463232;
  background-color: #FF4844;
}
.menu li a {
  color: #FF4844;
}
.menu li a :hover {
  color: #463232;
  background-color: #FF4844;
}
.menu--open {
  display: block;
}
