/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
.pageContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.cta {
  background-image: url("../Img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.cta .buttonSection {
  display: flex;
  flex-flow: row wrap;
}
.cta .buttonSection button {
  background: none;
  border: none;
}
.cta .pics {
  display: flex;
  flex-flow: row nowrap;
}
.banner {
  height: 155px;
  background-image: url("../FeaturesAssets/trainer_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 880px) {
  .comingSoon .features1 {
    display: none;
  }
  .buttonSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pics #pic2 {
    display: none;
  }
  .banner {
    height: 109px;
    background-image: url("../FeaturesAssets/trainer_banner_tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 520px) {
  .comingSoon .features1 {
    display: none;
  }
  .comingSoon .features2 {
    display: none;
  }
  .cta {
    background-image: url("../Img/background_mobile.png");
    background-repeat: no-repeat;
  }
  .buttonSection #pokeBall {
    display: none;
  }
  .pics #pic1 {
    display: none;
  }
  .pics #pic2 {
    display: block;
  }
  .pics #pic3 {
    display: none;
  }
  .banner {
    height: 62px;
    background-image: url("../FeaturesAssets/trainer_banner_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.header {
  width: 100%;
  height: 100px;
  background-color: #463232;
  color: #f6e8ea;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}
.header h1 {
  margin: 0;
  left: 0;
  font-size: 4.8rem;
  color: #FF4844;
}
.menu-button {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.menu {
  display: none;
  position: fixed;
  top: 4.4rem;
  margin-top: 3rem;
  right: 0;
  width: 20rem;
  height: 100vh;
  background-color: #463232;
  border-left: none;
  border-bottom: none;
  z-index: 2;
}
.menu ul li {
  list-style-type: none;
  font-size: 3.2rem;
  padding: 30px 0;
  text-align: center;
  color: #FF4844;
}
.menu ul li :hover {
  color: #463232;
  background-color: #FF4844;
}
.menu li a {
  color: #FF4844;
}
.menu li a :hover {
  color: #463232;
  background-color: #FF4844;
}
.menu--open {
  display: block;
}
.comingSoon {
  margin-top: 4.5rem;
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 2px;
  background-color: whitesmoke;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
  justify-content: space-evenly;
  align-items: center;
}
.comingSoon .features1 {
  margin-top: 40px;
}
.comingSoon .features2 {
  margin-top: 45px;
}
footer {
  display: flex;
  flex-flow: column nowrap;
  background-color: #463232;
  max-width: 100%;
  padding-top: 2px;
  border-top: 1px solid lightgrey;
  border-radius: 2px;
  box-shadow: 2px 2px 2px lightgrey;
  height: 30px;
  bottom: 0;
  justify-content: space-evenly;
  align-items: center;
}
footer li {
  color: white;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
}
