:root{
  font-size: 62.5%;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: @charcoal;
}

.pageContent {
  //margin-top: 75px;
  //height: 80vh;
  // max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  //justify-content: center;
  //align-items: center;
  margin: 0 auto;
  // margin-bottom: 0;
  width: 100%;
}

.comingSoon {
  // margin: 20px 10%;
  margin-top: 4.5rem;
  display: flex;
  // width: 100%;
  // height: 5rem;
  // padding: 0 20px 25px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  background-color: whitesmoke;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
  justify-content: space-evenly;
  align-items: center;

  .features1 {
    margin-top: 10px;
  }

  .features2 {
    margin-top: 10px;
  }
}

h2 {
  font-size: 2.8rem;
  padding: 0;
  margin: 15px 0 0;
}

.pokeDex {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: @charcoal;
    padding: 0 20px 25px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
    .incine {
      display: none;
    }
    .featureCard {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    padding: 10px 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
    margin-bottom: 1px;
    text-align: center;
    color: @offWhite;
    line-height: 2rem;
    margin-top: 15px;

      li {
        font-size: .8rem;
        list-style-type: none;
      }
    }
    
    margin: 0 auto;
}

.cards {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    padding: 0 20px 25px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
    margin-bottom: 1px;
    margin: 0 auto;
    //width: 100%;
}

.card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;

  .pokeImg {
    display: none;
    border-radius: 5px 5px 0 0;
  }

  :hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .info {
    display: none;
    padding: 5px 20px;
  }
}

.flipped {
  .pokeImg {
    display: block;
  }

  .info {
    display: block;
  }

  .cardBack {
    display: none;
  }
}


footer {
  display: flex;
  background-color: @charcoal;
  max-width: 100%;
  padding: 0 20px 25px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  box-shadow: 2px 2px 2px lightgrey;
  height: 20px;
  //position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  
  p {
    padding-top: 1rem;
  }
}

@media @tablet {
  .comingSoon {
    .features1 {
      display: none;
    }
  }

  .pokeDex {
    flex-flow: column wrap;
    
    .tCat {
      display: none;
    }
  }

  .demo {
    .bookend {
      display: none;
    }
  }
}

@media @phone {
  .comingSoon {
    .features1 {
      display: none;
    }
    .features2 {
      display: none;
    }
  }

  .pokeDex {    
    .tCat {
      display: none;
    }

    .litten {
      display: none;
    }

    .incine {
      display: block;
    }
  }

  .demo {
    flex-flow: column nowrap;
    
    .bookend {
      display: none;
    }
  }
}