body {
    background-image: url('../Img/backgroundwithimages.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    h1 {
        color: @red;
        display:flex;
        justify-content: center;
    }

    h2 {
        color: @red;
        display:flex;
        justify-content: center;
    }
}