
body {
    background-image: url("../Img/backgroundwithimages.png");
  }
  .header h1 {
    color: #ef626c;
    display: flex;
    justify-content: center;
  }
  .header h2 {
    color: #ef626c;
    display: flex;
    justify-content: center;
  }
  nav {
    display: flex;
  }
  nav a {
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: flex-end;
  }
  nav h1 {
    font-size: 50px;
    color: black;
    margin: 25px;
  }
  
  footer{
    color: white;
  }