//BreakPoints
@desktop: ~'(max-width: 1000px)';
@phone: ~'(max-width: 520px)';
@tablet: ~'(max-width: 880px)';
@tabletFeatures: ~'(max-width: 905px)';

//Colors
@black: #000000;
@offWhite: #f6e8ea;
@charcoal: #444047;
@red: #FF4844;
@yellow: #f7dba7;
@brown: #463232;
@darkred: #8B1818;

//Fonts -- These don't work as variables but I can store the font pull css tags here which is nifty
@headers: ~"('Abel', sans-serif;)";
@paragraphs: ~"('Open Sans', sans-serif)";
