//BreakPoints
@desktop: ~'(max-width: 1000px)';
@phone: ~'(max-width: 520px)';
@tablet: ~'(max-width: 880px)';

//Colors
@black: #000000;
@offWhite: #f6e8ea;
@charcoal: #444047;
@red: #FF4844;
@yellow: #f7dba7;
@brown: #463232;
@darkred: #8B1818;

